region = "eu-east-1"

iam_user_name = "user-name"

website_domains = ["https://youramazingwebsite.com", "https://www.yourfriendamazingwebsite.com"]

pdf_bucket_name = "pdf-bucket-name-which-is-globally-unique"

lambda_function_name = "lambda-function-name"